*,
*:before,
*:after {
  box-sizing: border-box;
}
html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
}
body {
  background-color: #9a0007;
  color: #fff;
  font-family: 'Indie Flower', cursive;
  font-size: 48px;
  overflow: hidden;
  width: 100%;
}
@media (max-width: 767px) {
  body {
    font-size: 28px;
    background-color: #00f;
  }
}
@media (max-width: 400px) {
  body {
    font-size: 32px;
    background-color: #008000;
  }
}
.container {
  position: relative;
  max-width: 1600px;
  height: 100%;
  margin: 0px auto;
  padding: 0px 15px;
  overflow: hidden;
}
@media (max-width: 767px) {
  .container {
    padding: 0px;
  }
}
h1,
h2 {
  text-align: center;
  line-height: 1em;
}
h1,
h2 {
  position: absolute;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  margin: 0;
}
h2 {
  top: 25%;
  font-size: 1.5em;
  font-weight: 400;
}
@media (max-width: 767px) {
  h2 {
    top: 20%;
  }
}
@media (max-width: 400px) {
  h2 {
    top: 10%;
  }
}
h1 {
  top: 75%;
  font-size: 1.5em;
  font-weight: 400;
}
@media (max-width: 767px) {
  h1 {
    top: 80%;
  }
}
@media (max-width: 400px) {
  h1 {
    top: 90%;
  }
}
.cursive {
  font-family: 'Charmonman', cursive;
}
#day-holder-wrapper {
  width: 94%;
  max-width: 1200px;
  height: 100%;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  position: absolute;
  overflow: hidden;
}
#day-holder-wrapper::before,
#day-holder-wrapper::after {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  bottom: 0;
  width: 30px;
}
#day-holder-wrapper::before {
  left: 0;
  background: linear-gradient(90deg, #9a0007, transparent);
  z-index: 1;
}
#day-holder-wrapper::after {
  right: -1px;
  background: linear-gradient(90deg, transparent, #9a0007);
  z-index: 1;
}
#day-holder {
  position: relative;
  background-color: rgba(51,51,51,0.2);
  min-width: 100%;
  overflow-x: auto;
  white-space: nowrap;
  padding: 0 calc(50% - 275px);
}
.day {
  position: relative;
  display: inline-block;
  width: 100%;
  width: 510px;
  margin: 20px;
}
.day .card {
  cursor: pointer;
  position: relative;
  width: 80%;
  width: 510px;
  height: 310px;
  margin: 0 auto;
  background-color: #ffecb3;
  border: 5px solid #fff;
  transition: transform 0.5s;
  transition: transform 0.3s;
}
.day:hover .card {
  transform: rotate(0) !important;
}
.day .card::after {
  content: '';
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  border: 5px dashed #fff;
  margin: -5px;
  transition: margin 0.15s ease-in-out;
}
.day:hover .card::after {
  margin: -20px;
}
@media (max-width: 767px) {
  .day {
    width: 340px;
  }
  .day .card {
    width: 340px;
    height: 206px;
  }
}
@media (max-width: 400px) {
  .day {
    width: 388px;
  }
  .day .card {
    width: 388px;
    height: 236px;
  }
}
.day:first-of-type::before,
.day:last-of-type::after {
  display: block;
  position: absolute;
  top: 50%;
  font-size: 2rem;
}
.day:first-of-type::before {
  content: 'Start';
  left: -10%;
  transform: translate(-100%, -50%);
}
.day:last-of-type::after {
  content: 'End';
  right: -10%;
  transform: translate(100%, -50%);
}
.card .from-text {
  position: absolute;
  top: 6.5%;
  left: 4%;
  color: #b71c1c;
  font-size: 0.65em;
}
.card .from-text::before {
  content: "Santa's Helper";
}
.card .to-name-text {
  position: absolute;
  top: 32.5%;
  left: 26.6%;
  color: #b71c1c;
}
.card .to-name-text::before {
  content: 'Santa';
}
.card .to-address-text {
  position: absolute;
  top: 46%;
  left: 28.2%;
  color: #b71c1c;
}
.card .to-address-text::before {
  content: 'North Pole';
}
.card .date-text {
  position: absolute;
  top: 86%;
  left: 96%;
  color: #999;
  text-align: right;
  font-family: 'Special Elite', cursive;
  font-size: 0.65em;
  transform: translateX(-100%);
}
.card .date-text::before {
  content: attr(data-date);
}
.card .urgent-text {
  position: absolute;
  top: 77.5%;
  left: 6.6%;
  color: #ff6659;
  font-family: 'Special Elite', cursive;
  transform: rotate(-5deg);
}
.card .urgent-text::before {
  content: '[Urgent]';
}
.card .css-stamp {
  width: 52px;
  height: 52px;
  background-color: #ccc;
  position: absolute;
  top: 15.333333333333334%;
  left: 90.8%;
  transform: translate(-50%, -50%);
}
@media (max-width: 767px) {
  .card .css-stamp {
    transform: translate(-50%, -50%) scale(0.666666666666667);
  }
}
@media (max-width: 400px) {
  .card .css-stamp {
    transform: translate(-50%, -50%) scale(0.761904761904762);
  }
}
.card .css-stamp .ridges,
.card .css-stamp .ridges::before,
.card .css-stamp .ridges::after,
.card .css-stamp .inner-border,
.card .css-stamp .inner-diamond {
  position: absolute;
  top: 50%;
  left: 50%;
}
.card .css-stamp .ridges {
  width: 84.6%;
  height: 84.6%;
  transform: translate(-50%, -50%) rotate(-45deg);
}
.card .css-stamp .ridges,
.card .css-stamp .ridges::before,
.card .css-stamp .ridges::after {
  background-color: #999;
}
.card .css-stamp .ridges::before,
.card .css-stamp .ridges::after {
  content: '';
  display: block;
}
.card .css-stamp .ridges::before {
  width: 50%;
  height: 150%;
  transform: translate(-50%, -50%) rotate(90deg);
}
.card .css-stamp .ridges::after {
  width: 50%;
  height: 150%;
  transform: translate(-50%, -50%) rotate(0deg);
}
.card .css-stamp .inner-border {
  background-color: #666;
  border: 4px solid #ccc;
  width: 46px;
  height: 46px;
  transform: translate(-50%, -50%) rotate(0deg);
}
.card .css-stamp .inner-diamond {
  border: 7px solid #ccc;
  width: 24px;
  height: 24px;
  transform: translate(-50%, -50%) rotate(45deg);
}
.card .css-stamp.green {
  background-color: #74d680;
}
.card .css-stamp.green .ridges,
.card .css-stamp.green .ridges::before,
.card .css-stamp.green .ridges::after {
  background-color: #4caf50;
}
.card .css-stamp.green .inner-border {
  background-color: #378b29;
  border-color: #74d680;
}
.card .css-stamp.green .inner-diamond {
  border-color: #74d680;
}
.card .css-stamp.red {
  background-color: #d37474;
}
.card .css-stamp.red .ridges,
.card .css-stamp.red .ridges::before,
.card .css-stamp.red .ridges::after {
  background-color: #ad4d4c;
}
.card .css-stamp.red .inner-border {
  background-color: #892943;
  border-color: #d37474;
}
.card .css-stamp.red .inner-diamond {
  border-color: #d37474;
}
.card .css-stamp.blue {
  background-color: #74d3bf;
}
.card .css-stamp.blue .ridges,
.card .css-stamp.blue .ridges::before,
.card .css-stamp.blue .ridges::after {
  background-color: #4cad90;
}
.card .css-stamp.blue .inner-border {
  background-color: #29895b;
  border-color: #74d3bf;
}
.card .css-stamp.blue .inner-diamond {
  border-color: #74d3bf;
}
.card .css-stamp.yellow {
  background-color: #f8b229;
}
.card .css-stamp.yellow .ridges,
.card .css-stamp.yellow .ridges::before,
.card .css-stamp.yellow .ridges::after {
  background-color: #ce870c;
}
.card .css-stamp.yellow .inner-border {
  background-color: #aa6c00;
  border-color: #f8b229;
}
.card .css-stamp.yellow .inner-diamond {
  border-color: #f8b229;
}
.card .css-stamp.orange {
  background-color: #ea4630;
}
.card .css-stamp.orange .ridges,
.card .css-stamp.orange .ridges::before,
.card .css-stamp.orange .ridges::after {
  background-color: #bf2413;
}
.card .css-stamp.orange .inner-border {
  background-color: #9e0f00;
  border-color: #ea4630;
}
.card .css-stamp.orange .inner-diamond {
  border-color: #ea4630;
}
div.paper {
  position: absolute;
  background-color: #fafafa;
  width: 62.7%;
  max-width: 350px;
  left: 50%;
  top: 150%;
  z-index: 3;
  opacity: 0;
  transform: translateX(-50%) translateY(-50%);
  transition: transform 0.9s 0.5s, top 0.5s;
}
.open div.paper {
  top: 50%;
}
.flap-open div.paper {
  opacity: 1;
}
div.paper::after {
  content: '';
  display: block;
  padding-bottom: 71%;
}
#overlay {
  touch-action: none;
  opacity: 0;
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(56,34,34,0.5);
  transition: opacity 0.3s, z-index 0.1s 0.15s;
  z-index: -1;
}
#overlay.show {
  transition: opacity 0.3s, z-index 0.1s;
  z-index: 1;
  display: block;
  opacity: 1;
}
#envelope-wrapper {
  position: absolute;
  left: 50%;
  top: 0;
  width: 75%;
  height: 100%;
  z-index: 500;
  user-select: none;
  max-width: 500px;
  pointer-events: none;
  transform: translateX(-50%);
  background-color: rgba(255,255,255,0);
  transition: background-color 0.5s;
  opacity: 0;
}
#envelope-wrapper.open {
  background-color: rgba(255,255,255,0.3);
  opacity: 1;
}
#envelope-wrapper.flap-open {
  transition: background-color 0.5s 1.8s;
  background-color: rgba(255,255,255,0);
}
svg {
  pointer-events: none;
  position: absolute;
  max-width: 500px;
  top: 150%;
  left: 50%;
  transform: translate(-50%, -50%) rotateY(120deg);
  transition: top 0.5s, transform 0.8s, opacity 0.4s 1.5s;
  opacity: 1;
}
svg line.w {
  stroke: #fff;
  stroke-width: 5;
}
svg.svg-bottom {
  z-index: 2;
}
svg.svg-bottom rect {
  fill: #e5d4a2;
}
svg.svg-bottom polygon {
  fill: #e5d4a2;
}
svg.svg-top {
  z-index: 4;
}
svg.svg-top polygon {
  fill: #ffebb5;
}
.open svg {
  top: 50%;
  transform: translate(-50%, -50%) rotateY(0deg);
}
svg g.flap {
  transition: transform 0.5s, opacity 0.5s;
  transform-origin: 50% 152.5px;
  transform: rotateX(0deg);
}
.flap-open svg g.flap {
  transform: rotateX(180deg);
}
.flap-open svg g.flap.fade {
  opacity: 0;
}
.flap-open svg {
  opacity: 0;
}
.flap-open svg + div.paper {
  transform: translateX(-50%) translateY(calc(-50vh - 250px));
}
#letter {
  touch-action: none;
  position: absolute;
  display: block;
  left: 50%;
  top: -100%;
  width: 100%;
  max-width: 900px;
  z-index: 50;
  padding: 0 1rem;
  opacity: 0;
  transition: top 1s, transform 0.5s, opacity 0.5s;
  transform: translate(-50%, -16.666666%);
  overflow: hidden;
  pointer-events: none;
}
#letter.show {
  pointer-events: auto;
  top: 50%;
  opacity: 1;
}
#letter.touch {
  transition: top 1s, transform 0s, opacity 0.5s;
}
#letter.view-top {
  transform: translate(-50%, -16.666666%);
}
#letter.view-middle {
  transform: translate(-50%, -50%);
}
#letter.view-bottom {
  transform: translate(-50%, -83.333333%);
}
#letter .top,
#letter .middle,
#letter .bottom {
  position: relative;
  background-color: #fafafa;
  border: 5px solid #efefef;
  width: 100%;
  color: #212121;
  text-align: center;
}
#letter .top .title,
#letter .middle .title,
#letter .bottom .title {
  font-size: 1em;
}
#letter .top .view-source,
#letter .middle .view-source,
#letter .bottom .view-source {
  display: inline-block;
  line-height: 1em;
  color: #9a0007;
  color: #ad4d4c;
  font-size: 0.75em;
  padding-top: 1.5em;
}
#letter .top .view-source:hover,
#letter .middle .view-source:hover,
#letter .bottom .view-source:hover {
  color: #4caf50;
}
#letter .top .content,
#letter .middle .content,
#letter .bottom .content {
  position: absolute;
  left: 50%;
  top: 50%;
  width: calc(100% - 1em);
  transform: translate(-50%, -50%);
}
#letter .top::after,
#letter .middle::after,
#letter .bottom::after {
  content: '';
  display: block;
  padding-bottom: 71%;
  padding-bottom: 65%;
}
#letter .top .title::after {
  font-size: 1.25em;
  content: 'Day ' attr(data-day);
}
#letter .top .subtitle::after {
  font-size: 1em;
  content: attr(data-subtitle);
}
#letter .middle textarea {
  display: block;
  width: 100%;
  height: 6em;
  resize: none;
  font-size: 0.5em;
  outline: 0;
  border: 0;
  background-color: #efefef;
  padding: 0.5em;
  border: 5px solid #e6e6e6;
  font-family: "Lucida Console", Monaco, monospace;
}
#letter .middle button {
  display: block;
  font-size: 0.5em;
  margin-top: 0.5em;
  width: 100%;
  padding: 0.5em;
  outline: 0;
  border: 0;
  background-color: #efefef;
  border: 5px solid #e6e6e6;
  color: #242424;
  font-weight: 700;
  font-family: 'Indie Flower', cursive;
}
#letter .bottom label {
  font-size: 0.75em;
  display: block;
}
#letter .bottom input[type=text] {
  display: block;
  width: 100%;
  resize: none;
  font-size: 0.5em;
  outline: 0;
  border: 0;
  background-color: #efefef;
  padding: 0.5em;
  border: 5px solid #e6e6e6;
  font-family: "Lucida Console", Monaco, monospace;
}
.loading-anim {
  position: relative;
  margin: 0 auto;
  font-size: 1em;
  width: 4em;
  height: 1em;
  background-color: #00f;
  margin-bottom: 0.25em;
  white-space: nowrap;
  border-radius: 0.45em;
  overflow: hidden;
}
.loading-anim span {
  display: block;
  width: 100%;
  height: 100%;
  left: -50px;
  animation: 3s linear 0s slidein infinite;
}
.loading-anim span::after {
  content: 'Loading';
  position: absolute;
  left: 111%;
  top: 50%;
  font-size: 0.3em;
  transform: translate(0, -50%);
  color: #fafafa;
}
.loading-anim div {
  display: inline-block;
  width: 27%;
  height: 100%;
  background-color: #fafafa;
  transition: background-color 0.3s ease-in-out;
}
.loading-anim.play div:nth-child(5n) {
  background-color: #74d680;
}
.loading-anim.play div:nth-child(5n + 1) {
  background-color: #d37474;
}
.loading-anim.play div:nth-child(5n + 2) {
  background-color: #74d3bf;
}
.loading-anim.play div:nth-child(5n + 3) {
  background-color: #f8b229;
}
.loading-anim.play div:nth-child(5n + 4) {
  background-color: #ea4630;
}
.loading-anim::before,
.loading-anim::after {
  content: '';
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  border-radius: 0.45em;
}
.loading-anim::before {
  border: 0.25em solid #fafafa;
  z-index: 100;
}
.loading-anim::after {
  border: 0.125em solid #4caf50;
  z-index: 101;
}
#p .top,
#p .middle,
#p .bottom {
  position: relative;
  width: 100%;
  height: 33.333333%;
  transition: transform 0.6s;
  transform-style: preserve-3d;
}
#p .top .front,
#p .middle .front,
#p .bottom .front,
#p .top .back,
#p .middle .back,
#p .bottom .back {
  position: absolute;
  background-color: #fafafa;
  border: 5px solid #efefef;
  color: #212121;
  padding: 1vh;
  text-align: center;
  left: -5px;
  top: -5px;
  right: -5px;
  bottom: -5px;
  backface-visibility: hidden;
}
#p .top .back,
#p .middle .back,
#p .bottom .back {
  transform: rotateY(180deg);
}
#p .top .title,
#p .middle .title,
#p .bottom .title {
  font-size: 4vh;
}
#p .top .content,
#p .middle .content,
#p .bottom .content {
  position: absolute;
  left: 50%;
  top: 50%;
  width: calc(100% - 4vh);
  transform: translate(-50%, -50%);
}
#p .top {
  z-index: 53;
  transform: rotateX(180deg);
  transform-origin: bottom;
}
#p .top .title::after {
  font-size: 5vh;
  content: 'Day ' attr(data-day);
}
#p .top .subtitle::after {
  font-size: 4vh;
  content: attr(data-subtitle);
}
#p .middle {
  z-index: 52;
}
#p .middle textarea {
  display: block;
  width: 100%;
  height: 12vh;
  resize: none;
  font-size: 2vh;
  outline: 0;
  border: 0;
  background-color: #efefef;
  padding: 1vh;
  border: 5px solid #e6e6e6;
}
#p .middle button {
  display: block;
  margin-top: 1vh;
  width: 100%;
  padding: 1vh;
  font-size: 2vh;
  outline: 0;
  border: 0;
  background-color: #efefef;
  border: 5px solid #e6e6e6;
  color: #242424;
  font-weight: 700;
}
#p .bottom {
  z-index: 54;
  transform: rotateX(180deg);
  transform-origin: top;
}
#p .bottom label {
  font-size: 3vh;
  display: block;
}
#p .bottom input[type=text] {
  text-align: center;
  display: block;
  width: 100%;
  resize: none;
  font-size: 2vh;
  outline: 0;
  border: 0;
  background-color: #404040;
  border: 5px solid #efefef;
  padding: 1vh;
  color: #fff;
}
#p .top,
#p .bottom {
  color: #000;
}
@-moz-keyframes slidein {
  from {
    transform: translateX(0%);
  }
  to {
    transform: translateX(-135%);
  }
}
@-webkit-keyframes slidein {
  from {
    transform: translateX(0%);
  }
  to {
    transform: translateX(-135%);
  }
}
@-o-keyframes slidein {
  from {
    transform: translateX(0%);
  }
  to {
    transform: translateX(-135%);
  }
}
@keyframes slidein {
  from {
    transform: translateX(0%);
  }
  to {
    transform: translateX(-135%);
  }
}
