$white = #eaeaea
$border = 7px

html, body
	min-height: 100%

html
	height: 100%
	-ms-text-size-adjust: 100%
	-webkit-text-size-adjust: 100%
	font-family: 'Bebas Neue', Helvetica, Ariel, sans-serif
	@media (max-width: 767.98px)
		font-size: 12px
	@media (min-width: 768px) and (max-width: 991.98px)
		font-size: 13px
	@media (min-width: 992px) and (max-width: 1199.98px)
		font-size: 14px
	@media (min-width: 1200px)
		font-size: 16px

body
	display: flex
	flex-direction: column
	align-items: center
	background-color: #efeae0
	color: #323232
	width: 100%
	height: 100%
	min-height: 100%
	margin: 0
	padding: 0 1rem
	box-sizing: border-box
	@media (prefers-color-scheme: dark)
		background-color: #183f18
		color: $white

h1, h2, h3, h4, h5, h6, p
	margin: 0
	padding: 0

a
	color: #a99
	text-decoration: none
	@media (prefers-color-scheme: dark)
		color: #a06060
	&:hover
		color: #C33

textarea
.result::after
	display: block
	box-sizing: border-box
	text-align: center
	outline: 0
	font-size: 1.5rem
	background-color: transparent
	padding: 1rem
	color: #323232
	overflow-y: hidden
	@media (prefers-color-scheme: dark)
		color: $white

textarea
	&[name=input]
		font-family: inherit
		width: 100%
		border: 0
		border-bottom: 1px solid #666
		height: 4rem
		resize: vertical
		&::placeholder
			color: #a0a0a0
	&[name^="result"]
	/.result::after
		font-family: 'Source Code Pro', monospace
		width: 100%
		border: 1px solid rgba(#666, 0.5)
		transition: color 0.2s
		padding: 1.5rem 1rem
		&:not(.finished)
			color: rgba(#323232, 0)
		@media (prefers-color-scheme: dark)
			border: 1px solid rgba(#cdcdcd, 0.5)

.result
	display: grid
	align-items: stretch
	position: relative
	textarea
	&::after
		grid-area: 1 / 1
	&::after
		content: attr(data-value)
		visibility: hidden
		white-space: pre-wrap
		border: 1px solid transparent

textarea
	resize: none

header, footer
	flex: none
	box-sizing: border-box
	height: 10.1875rem

header
	text-align: center
	padding: 1rem 0
	h1, h2
		text-transform: uppercase
		line-height: 1.1
	h1
		font-size: 4rem
		color: #666
		@media (prefers-color-scheme: dark)
			color: #cdcdcd
	h2
		font-size: 2.5rem
		color: #a0a0a0
	hr
		margin: 1rem 0 0
		border: 0
		border-bottom: 1px solid #666
		@media (prefers-color-scheme: dark)
			border-bottom: 1px solid #cdcdcd

main
	display: flex
	flex-direction: column
	justify-content: center
	align-items: center
	flex: 1 0 auto
	text-align: center
	position: relative
	max-width: 470px
	margin: 3rem 0
	.title
		font-size: 6rem
		&::before, &::after
			content: '•'
		&::before
			padding-right: 0.5ch
		&::after
			padding-left: 0.5ch
	.buttons
		display: flex
		justify-content: center
		flex-wrap: wrap
		margin: 2rem 0
		.button
			user-select: none
			border: 1px solid #a0a0a0
			min-width: 1.5rem
			padding: 0.5rem
			cursor: pointer
			transition: background-color 0.2s, color 0.2s
			margin: 0.25rem
			@media (prefers-color-scheme: dark)
				color: $white
			&:hover
				background-color: #a0d0a0
				@media (prefers-color-scheme: dark)
					background-color: #c66
				color: $white
	.results
		width: 100%
		label
			display: block
			font-size: 1.5rem
		.result + label
			margin-top: 2rem
		a
			display: block
			margin-top: 1rem
			font-size: 1.5rem

footer
	display: flex
	max-width: 470px
	justify-content: center
	align-items: flex-end
	padding: 1rem 0
	color: #a0a0a0
	font-size: 1.5rem
	span
		+ span
			&::before
				content: '•'
				margin: 0 1ch
